h1 {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  background-color: #f3f3f3;
  border-radius: 5px 5px 0 0;
  margin-bottom: 0px;
}

.app-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f3;
  border-radius: 0 0 5px 5px;
}

/*********
Table CSS:
**********/
.content-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  margin: 25px;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: royalblue;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid royalblue;
}
/* optional: add className active-row on click to highlight row */
/* .content-table tbody tr.active-row {
  font-weight: bold;
  color: royalblue;
} */

/****************
Dropdown menu CSS:
*****************/
  .container {
    position: relative;
    display: inline-block;
  }


  .dropdown {
    position: absolute;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    z-index: 2;
    border: 2px solid rgb(42, 83, 204);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    background-color: royalblue;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li {
    padding: 8px 12px;
  }

  li:hover {
    background-color: rgba(0, 0, 0, 0.14);
    cursor: pointer;
  }

  /**********
  Button CSS:
  **********/
  button {
    background-color: royalblue;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    padding: 5px;
    margin: 10px;
    border: none;
    border-radius: 5px;
  }

  button.reset {
    background-color: red;
  }

  /* button.search {
    margin-left: 0px;
  } */

  button:hover {
    opacity: 0.6;
    transition: 0.5s;
  }

  /***************
  Input Field CSS:
  ***************/
  input {
    width: 20em;
  }
